<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="service.js"></script>
</head>
<body ng-app="restaurantApp">

    <div ng-controller="MainController">
        <h1>Restaurant Website</h1>
        <button ng-click="goToSignUp()">Sign Up</button>
        <button ng-click="goToMyInfo()">My Info</button>
        
        <div ng-view></div>
    </div>

</body>
</html>
